<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="TEMPORADA2025"
			 connectionString="Data Source=ALEORTBAS\SQLEXPRESS;Initial Catalog=TEMPORADA2025;Integrated Security=True;Trust Server Certificate=True"
			 providerName="System.Data.SqlClient"
			 />
	</connectionStrings>
</configuration>